*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #837d87; }

.heading-1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 1; }
  .heading-1--light {
    color: #fafafa; }
  .heading-1--dark {
    color: #2b272f; }

.paragraph {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 400; }
  .paragraph--light {
    color: #fafafa; }
  .paragraph--dark {
    color: #2d2640; }

.u-mb-xs {
  margin-bottom: 1rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-lg {
  margin-bottom: 6rem; }

.u-mb-xl {
  margin-bottom: 8rem; }

.u-mt-xs {
  margin-top: 1rem; }

.u-mt-sm {
  margin-top: 2rem; }

.u-mt-md {
  margin-top: 4rem; }

.u-mt-lg {
  margin-top: 6rem; }

.u-mt-xl {
  margin-top: 8rem; }

.btn {
  text-decoration: none;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.6rem; }
  .btn--light {
    border: 1px solid #fafafa;
    color: #fafafa; }
  .btn--dark {
    border: 1px solid #2b272f;
    color: #2b272f; }

.footer {
  grid-column: full-start / full-end; }

.header {
  padding: 8rem 15rem;
  background-color: #2d2640;
  position: relative; }
  .header__bg-image {
    position: absolute;
    z-index: 1;
    height: 85%; }
    .header__bg-image--right {
      top: 0;
      right: 0; }
    .header__bg-image--left {
      top: 30vw;
      left: 0; }
  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw;
    grid-column-gap: 3rem;
    position: relative; }
    .header__content::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 15rem;
      height: 1px;
      background-color: #fafafa; }
  .header__text {
    grid-column: 1/2;
    align-self: center;
    color: #fafafa; }
  .header__image-box {
    width: 100%;
    grid-column: 2/3;
    justify-self: end;
    text-align: right; }
  .header__image {
    width: 100%; }

.navigation {
  grid-column: full-start / full-end;
  grid-row: 1/2; }
