.header {
    padding: 8rem 15rem;
    background-color: $color-violet-dark;
    position: relative;

    &__bg-image {
        position: absolute;
        z-index: 1;
        height: 85%;

        &--right {
            top: 0;
            right: 0;
        }

        &--left {
            top: 30vw;
            left: 0;

        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30vw;
        grid-column-gap: 3rem;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 1px;
            background-color: $color-light-grey;
        }
    }

    &__text {
        grid-column: 1/2;
        align-self: center;
        color: $color-light-grey;
    }


    &__image-box {
        width: 100%;
        grid-column: 2/3;
        justify-self: end;
        text-align: right;
       
    }

    &__image {
        width: 100%;
    }
}