// TEXT
//// Primary

$color-violet-dark: #2d2640;
$color-grey-blue: #95a9c6;

//// Secondary
$color-violet-dark-2: #2b272f;
$color-violet-grey: #837d87;
$color-light-grey: #fafafa;


// TEXT

//// Size
$font-size-body: 1.6rem;

//// Family
$font-family-heading: "DM Serif Display", serif;
$font-family-body: "Karla", sans-serif;

//// Weights
$font-weight-heading: 400;
$font-weight-body-regular: 400;
$font-weight-body-bold: 700;


