.btn {
    text-decoration: none;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    z-index: 10;

    &--light {
        border: 1.5px solid $color-light-grey;
        color: $color-light-grey;
    }

    &--dark {
        border: 1.5px solid $color-violet-dark-2;
        color: $color-violet-dark-2;
    }
}