body {
    font-size: $font-size-body;
    font-family: $font-family-body;
    font-weight: $font-weight-body-regular;
    line-height: 1.7;
    color: $color-violet-grey;
}

.heading-1 {
    font-family: $font-family-heading;
    font-weight: 400;
    font-size: 8.5rem;
    line-height: 1;


    &--light {
        color: $color-light-grey;
    }

    &--dark {
        color: $color-violet-dark-2;
    }
}